* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.produtos {
    max-width: 640px;
    width: 100%;
    margin: 56px auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1%;
}

/* Elemento */
.produtos__item {
}

/* Elemento */
.produtos__imagem {
    width: 100%;
}

/* Elemento */
.produtos__nome {
    font-size: 1.2em;
    margin: 8px 0;
}

/* Elemento */
.produtos__descricao {
    color: gray;
}

/* Modificador */
.produtos__item--destaque {
    border: 2px solid gold;
    padding: 8px;
    background-color: #ffff42;
}
